# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
log/
seg0/
tmp0/
*.lck
*.txt
.nb-gradle/
*.xml
*.properties
*.log
# End of https://www.gitignore.io/api/netbeans
